<table style="width: 30%; float: right;">
	<thead> 
	<tr>    
		<th width="75%">Name</th>
		<th width="25%">Interviews</th>
	</tr>   
	</thead>
	<tbody>
	<% @agents_interviews.values.each do |v| %>
		<tr>
			<td><%= v[:name] %></td>
			<td><%= v[:interviews] %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<div class="panel" style="height: 10%;width: 100%;bottom: 0px;position: absolute;<%= latest_interview_color(@timediff) %>">
	<% if @interviews.count == 0 %>
	<font size="38">No interviews completed today, yet...</font>
	<% else %>
	<font size="38">Latest interview completed by : <%= User.where(user: @interviews.first[1]).pluck(:full_name).first %> at <%= @interviews.first[3].strftime("%T")%></font>
	<% end %>
</div>
