<% if @current_agents.count > 15 %>
	<table style="width: 35%;float: left;">
		<thead>
		<tr>
			<th width="60%" style="font-size: 45px">Name</th>
			<th width="20%" style="font-size: 45px">Status</th>
			<th width="10%" style="font-size: 45px">MM:SS</th>
			<th width="10%" style="font-size: 45px">Speaks</th>
		</tr>
		</thead>
		<tbody>
		<% @agent_details.values[1..(@current_agents.count / 2)].each do |details| %>
		<tr style="background-color: <%= row_color(details[:status], details[:time]) %>;">
			<td><b><%= details[:name] %></b></td>
			<td><b><%= agent_status(details[:status], details[:lead_id]) %></b></td>
			<td><b><%= Time.at(details[:time]).gmtime.strftime('%M:%S') %></b></td>
			<td><b><%= details[:speaks] %></b></td>
		</tr>
		<% end %>
		</tbody>
	</table>
	<table style="width: 35%;float: left;">
		<thead>
		<tr>
			<th width="60%" style="font-size: 45px">Name</th>
			<th width="20%" style="font-size: 45px">Status</th>
			<th width="10%" style="font-size: 45px">MM:SS</th>
			<th width="10%" style="font-size: 45px">Speaks</th>
		</tr>
		</thead>
		<tbody>
		<% @agent_details.values[(@current_agents.count / 2 + 1)..(@current_agents.count)].each do |details| %>
		<tr style="background-color: <%= row_color(details[:status], details[:time]) %>;">
			<td><b><%= details[:name] %></b></td>
			<td><b><%= agent_status(details[:status], details[:lead_id]) %></b></td>
			<td><b><%= Time.at(details[:time]).gmtime.strftime('%M:%S') %></b></td>
			<td><b><%= details[:speaks] %></b></td>
		</tr>
		<% end %>
		</tbody>
	</table>
<% else %>
	<table style="width: 70%;float: left;"> <!-- Single table for less than a certain amount of agents logged in. -->
		<thead>
		<tr>
			<th width="50%" style="font-size: 45px">Name</th>
			<th width="20%" style="font-size: 45px">Status</th>
			<th width="20%" style="font-size: 45px">MM:SS</th>
			<th width="10%" style="font-size: 45px">Speaks</th>
		</tr>
		</thead>
		<tbody>
		<% @agent_details.values.each do |details| %>
		<tr style="background-color: <%= row_color(details[:status], details[:time]) %>;">
			<td><b><%= details[:name] %></b></td>
			<td><b><%= agent_status(details[:status], details[:lead_id]) %></b></td>
			<td><b><%= Time.at(details[:time]).gmtime.strftime('%M:%S') %></b></td>
			<td><b><%= details[:speaks] %></b></td>
		</tr>
		<% end %>
		</tbody>
	</table>
<% end %>
